html {
    min-height: 100%;
}

body {
    background-color:black;
    width: 500px;
    margin: auto;
}

*:focus {
    outline: none;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }
}